.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0b1220;
}

.auth-card {
    width: 380px;
    background: var(--card);
    padding: 30px;
    border-radius: 12px;
    border: 1px solid var(--border);
    box-shadow: 0 0 25px rgba(37, 99, 235, 0.15);
}

.logo {
    text-align: center;
    color: var(--primary);
    font-size: 32px;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    color: var(--primary);
    margin-bottom: 20px;
    font-size: 14px;
}

.auth-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid var(--border);
    background: #0f1a30;
    color: white;
    outline: none;
}

.auth-card input:focus {
    border-color: var(--primary);
}

.btn-primary {
    width: 100%;
    padding: 12px;
    background: var(--primary);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary:hover {
    background: var(--primary-dark);
}

.switch {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    color: var(--text-muted);
}


.switch span {
    color: var(--primary);
    cursor: pointer;
}